{% extends "home.html" %}
{% block table %}

<form  action="/addboard" method="post">
  <div class= "signup-header">
    <h2>Add Board </h2>
  </div>
  <section class="twelve">
    <div class="signup-container">
        <div class="signup-row">
            <div class="signup-col1">
                <label class="signup-label">Board Name</label>
            </div>
            <div class="signup-col2">
                <input class="signup-input" type="text" name="name" required placeholder="Name of Electronic Vehicle">
            </div>
        </div>
        <div class="button">
            <input class="signup-input" type="submit" value="Create" id="btn1">
        </div>  
    </div>  
 </section>
</form>
{% endblock %}